<% layout('layout') -%>

<div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
        <h3 class="text-muted">what version was?</h3>
      </div>

      <div class="well well-lg">
      <form role="form">

        <div class="form-group col-sm-6">
          <label for="module" class="">Module name</label>
          <div class="input-group">
            <input id="module" type="text" class="form-control" placeholder="e.g. coffee-script"></input>
            <span class="input-group-btn">
              <button type="button" id='send' class="btn btn-default">Check npm</button>
            </span>
          </div>
        </div>
        <div class="form-group col-sm-6">
          <label for="date" class="">Date to check</label>
          <div class="input-group">
          <input id="date" type="text" class="form-control"></input>
          <span class="input-group-btn">
            <button type="button" id='calculate' class="btn btn-default">Show this date's version</button>
          </span>
          </div>
        </div>
      </form>

        <p id='result' class="container">This area will display data.</p>
      </div>


      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Purpose</h4>
          <p>If you want to find out which version a certain module was at any point in time, this tool will check the version history.</p>
        </div>

        <div class="col-lg-6">
          <h4>Tech</h4>
          <p>It looks up the npm show command output for version and time information.</p>
        </div>
      </div>

      <div class="footer">
        <p>© Arvid Kahl 2013</p>
      </div>
    </div>
  <div>



  <script type="text/javascript">

    timeData = {}

    $(document).ready(function(){

      $( "#date" ).datepicker();

      $("#calculate").on('click', function() {
        var currentDate = $( "#date" ).datepicker( "getDate" );
        console.log(currentDate);

        $("#result").html('modules at time '+currentDate);
        for (name in timeData) {

          var closest = {time : 0, version : 0}

          times = timeData[name];
          for (var i = times.length - 1; i >= 0; i--) {
            // console.log(times[i].time);
            // console.log(new Date(times[i].time+":00:00"), new Date(closest.time), currentDate)
            time = new Date(times[i].time+":00:00")
            if (time > new Date(closest.time) && time < currentDate) {
              closest = times[i];
            }
          };

          $("#result").append("<p>"+name+" version: "+closest.version+"</p>");

        }

      });

      $("#send").on('click',function(){
        var name = $("#module").val();
        console.log(name," ajax started");
        $.ajax({
          url: "/",
          type:'POST',
          data: {
            names: [name]
          },
          success: function( data ) {
            time = JSON.parse(data)
            $( "#result" ).html( "<code>" + data + "</code>" );
            for (name_ in time) {timeData[name_]=time[name_]}
          }
        });

      });
    });
  </script>
</div>